services:
  postgres:
    image: postgres:17-alpine
    container_name: atlas_db
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    restart: always
  backend:
    image: ghcr.io/dest4590/atlas:latest
    container_name: atlas_app
    env_file:
      - .env
    ports:
      - "${APP_PORT}:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - JWT_SECRET=${JWT_SECRET}
      - APP_UPLOAD_DIR=/app/uploads
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - postgres
      - redis
    restart: always
    volumes:
      - ./uploads:/app/uploads
  redis:
    image: redis:7-alpine
    container_name: atlas_redis
    env_file:
      - .env
    ports:
      - "${REDIS_PORT}:6379"
    restart: always
